### MONGODB

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, count, when, sum

# Create a Spark session
spark1 = SparkSession.builder \
    .appName("MongoDBMflixAnalysis") \
    .config("spark.mongodb.input.uri", f"mongodb+srv://trunghaunguyen:trunghaunguyen@cluster0.xduzm1u.mongodb.net") \
    .config("spark.mongodb.output.uri", f"mongodb+srv://trunghaunguyen:trunghaunguyen@cluster0.xduzm1u.mongodb.net") \
    .config("spark.jars.packages", "org.mongodb.spark:mongo-spark-connector_2.12:3.0.1") \
    .getOrCreate()

# Read Political dataset on MongoDB
politics_df = spark1.read.format("com.mongodb.spark.sql.DefaultSource").option("uri", "mongodb+srv://trunghaunguyen:trunghaunguyen@cluster0.xduzm1u.mongodb.net/UFO.Politics").load()

# Select focused info
year_state = politics_df.select(politics_df["VCF0004"].alias("Year"), 
                                politics_df["VCF0901b"].alias("State"), 
                                politics_df["VCF0705"].alias("Presidential_Vote")
                               )

year_state = year_state.filter(col('State') != '99') # 99 means no information, drop those records

year_state = year_state.orderBy('year', 'state', ascending=True)

# Give the alias for 4 types of Presidential_Vote and select year state and 4 types of Presidential votes for analyze
political_df = year_state.groupBy('year', 'state') \
            .agg(count(when(col("Presidential_Vote") == "0", True)).alias("not voted"), \
                 count(when(col("Presidential_Vote") == "1", True)).alias("Democrat"), \
                 count(when(col("Presidential_Vote") == "2", True)).alias("Republican"), \
                 count(when(col("Presidential_Vote") == "3", True)).alias("Other Party"), \
                 sum(when(col("Presidential_Vote").isin(["0", "1", "2", "3"]), 1).otherwise(0)).alias("total_votes")) \
            .select('year', 'state', col('not voted'), col('Democrat'), col('Republican'), col('Other Party'), col('total_votes'))
political_df = political_df.orderBy('year', 'state', ascending=True)

print("Yearly Presidential Votes by State:")
political_df.show()

:: loading settings :: url = jar:file:/usr/local/spark/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/azureuser/.ivy2/cache
The jars for the packages stored in: /home/azureuser/.ivy2/jars
org.mongodb.spark#mongo-spark-connector_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-647f1e7b-120d-45ee-af93-ebd104d124be;1.0
	confs: [default]
	found org.mongodb.spark#mongo-spark-connector_2.12;3.0.1 in central
	found org.mongodb#mongodb-driver-sync;4.0.5 in central
	found org.mongodb#bson;4.0.5 in central
	found org.mongodb#mongodb-driver-core;4.0.5 in central
:: resolution report :: resolve 257ms :: artifacts dl 10ms
	:: modules in use:
	org.mongodb#bson;4.0.5 from central in [default]
	org.mongodb#mongodb-driver-core;4.0.5 from central in [default]
	org.mongodb#mongodb-driver-sync;4.0.5 from central in [default]
	org.mongodb.spark#mongo-spark-connector_2.12;3.0.1 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   4   |   0   |   0   |   0   ||   4   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-647f1e7b-120d-45ee-af93-ebd104d124be
	confs: [default]
	0 artifacts copied, 4 already retrieved (0kB/7ms)
24/03/06 20:59:54 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/06 21:00:02 WARN MongoInferSchema: Field 'VCF0705' contains conflicting types converting to StringType
24/03/06 21:00:02 WARN MongoInferSchema: Field 'VCF0706' contains conflicting types converting to StringType
24/03/06 21:00:02 WARN MongoInferSchema: Field 'VCF0901b' contains conflicting types converting to StringType
24/03/06 21:00:02 WARN MongoInferSchema: Field 'VCF9025' contains conflicting types converting to StringType
24/03/06 21:00:02 WARN MongoInferSchema: Field 'VCF9027' contains conflicting types converting to StringType
24/03/06 21:00:02 WARN MongoInferSchema: Field 'VCF9060' contains conflicting types converting to StringType
24/03/06 21:00:02 WARN MongoInferSchema: Field 'VCF9069' contains conflicting types converting to StringType
24/03/06 21:00:02 WARN MongoInferSchema: Field 'VCF9250' contains conflicting types converting to StringType

Yearly Presidential Votes by State:

+----+-----+---------+--------+----------+-----------+-----------+
|year|state|not voted|Democrat|Republican|Other Party|total_votes|
+----+-----+---------+--------+----------+-----------+-----------+
|1952|   AL|       39|      10|         9|          0|         58|
|1952|   AR|       24|      14|        14|          0|         52|
|1952|   CA|       52|      29|        62|          0|        143|
|1952|   CO|        7|      12|        12|          0|         31|
|1952|   CT|       11|      21|        24|          0|         56|
|1952|   DC|       14|       2|         0|          0|         16|
|1952|   FL|       26|       9|         5|          0|         40|
|1952|   GA|       32|      11|         5|          0|         48|
|1952|   IA|       21|      25|        48|          0|         94|
|1952|   ID|        6|       4|         6|          0|         16|
|1952|   IL|       12|      30|        35|          0|         77|
|1952|   IN|       12|      14|        15|          0|         41|
|1952|   KS|        3|       5|        15|          0|         23|
|1952|   KY|       36|      21|        17|          0|         74|
|1952|   LA|       19|       0|         1|          0|         20|
|1952|   MA|       17|      19|        29|          0|         65|
|1952|   MD|       10|       2|         3|          0|         15|
|1952|   MI|       27|      37|        78|          1|        143|
|1952|   MN|        9|      30|        14|          0|         53|
|1952|   MO|       15|      11|        17|          0|         43|
+----+-----+---------+--------+----------+-----------+-----------+
only showing top 20 rows

### Hadoop

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.functions import sum as spark_sum, col, year, count as spark_count

# Create a Spark session
spark2 = SparkSession.builder.appName("PollutionAnalysis").getOrCreate()

# Set the Hadoop file path
hadoop_path = "hdfs://localhost:9000/user/input/pollution/"

# Read CSV files from Hadoop
df_air_pollution = spark2.read.csv(hadoop_path + "pollution_us_2000_2016.csv", header=True, inferSchema=True)

# Select focused info
df_air_pollution = df_air_pollution.select('State',
                               year(df_air_pollution['Date Local']).alias('Year'),
                               'NO2 AQI',
                               'O3 AQI',
                               'SO2 AQI',
                               'CO AQI'
                               )\
                        .groupBy('State', 'Year')\
                        .agg(avg('NO2 AQI').alias('avg_no2_aqi'),
                             avg('O3 AQI').alias('avg_o3_aqi'),
                             avg('SO2 AQI').alias('avg_so2_aqi'),
                             avg('CO AQI').alias('avg_co_aqi')
                            )\
                        .orderBy('State')

# Dict of state and its abbreviation
state_abbreviations = {
    'TX': 'Texas', 'HI': 'Hawaii', 'TN': 'Tennessee', 'CT': 'Connecticut', 'AL': 'Alabama', 'FL': 'Florida', 'CA': 'California',
    'NC': 'North Carolina', 'NY': 'New York', 'KY': 'Kentucky', 'MI': 'Michigan', 'MA': 'Massachusetts', 'KS': 'Kansas',
    'SC': 'South Carolina', 'WA': 'Washington', 'CO': 'Colorado', 'NH': 'New Hampshire', 'WI': 'Wisconsin', 'ME': 'Maine',
    'GA': 'Georgia', 'PA': 'Pennsylvania', 'IL': 'Illinois', 'AR': 'Arkansas', 'MO': 'Missouri', 'OH': 'Ohio', 'IN': 'Indiana',
    'AZ': 'Arizona', 'MN': 'Minnesota', 'NV': 'Nevada', 'NE': 'Nebraska', 'OR': 'Oregon', 'IA': 'Iowa', 'VA': 'Virginia',
    'ID': 'Idaho', 'NM': 'New Mexico', 'NJ': 'New Jersey', 'WV': 'West Virginia', 'OK': 'Oklahoma', 'AK': 'Alaska', 'RI': 'Rhode Island',
    'VT': 'Vermont', 'LA': 'Louisiana', 'ND': 'North Dakota', 'PR': 'Puerto Rico', 'MS': 'Mississippi', 'UT': 'Utah', 'MD': 'Maryland',
    'MT': 'Montana', 'WY': 'Wyoming', 'SD': 'South Dakota', 'DE': 'Delaware', 'DC': 'District of Columbia'
}
state_map = {full_name.title(): abbrev for abbrev, full_name in state_abbreviations.items()}


df_air_pollution = df_air_pollution.withColumn("State Abbreviation", col("State")).replace(state_map, subset=["State Abbreviation"])
df_air_pollution = df_air_pollution.withColumnRenamed("Year", "year")
df_air_pollution = df_air_pollution.withColumnRenamed("State Abbreviation", "stateabbr")
df_air_pollution = df_air_pollution.withColumnRenamed("State", "state_1")

print("Average Air Quality Index by State for all years, ordered by Year and State:")
df_air_pollution.show()

24/03/06 21:00:09 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

Average Air Quality Index by State for all years, ordered by Year and State:

+----+--------------------+---------------+--------------+---------------+--------------+---------+
|year|             state_1|Average_NO2_AQI|Average_O3_AQI|Average_SO2_AQI|Average_CO_AQI|stateabbr|
+----+--------------------+---------------+--------------+---------------+--------------+---------+
|2000|             Arizona|             47|            39|              7|            15|       AZ|
|2000|          California|             29|            32|              6|            11|       CA|
|2000|            Colorado|             32|            27|             21|            11|       CO|
|2000|District Of Columbia|             37|            27|             24|            18|       DC|
|2000|             Florida|             25|            39|              7|            10|       FL|
|2000|            Illinois|             42|            24|             24|            11|       IL|
|2000|             Indiana|             31|            43|             24|            12|       IN|
|2000|              Kansas|             18|            40|              5|            11|       KS|
|2000|            Kentucky|             26|            42|             22|             3|       KY|
|2000|           Louisiana|             33|            38|             20|            11|       LA|
|2000|            Michigan|             39|            34|             30|             6|       MI|
|2000|            Missouri|             31|            42|             20|             8|       MO|
|2000|          New Jersey|             34|            31|             21|            10|       NJ|
|2000|            New York|             36|            30|             21|             8|       NY|
|2000|      North Carolina|             31|            60|             18|             9|       NC|
|2000|            Oklahoma|             13|            49|              8|             1|       OK|
|2000|        Pennsylvania|             29|            39|             21|             5|       PA|
|2000|               Texas|             32|            38|             14|             8|       TX|
|2000|            Virginia|             30|            33|             24|             9|       VA|
|2001|             Arizona|             41|            34|              5|            13|       AZ|
+----+--------------------+---------------+--------------+---------------+--------------+---------+
only showing top 20 rows

### MARIADB

In [3]:
from pyspark.sql.functions import *
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, udf, sum, count
from pyspark.sql.types import IntegerType

# Create Spark session
spark3 = SparkSession.builder \
    .appName("UFO Sightings Analysis") \
    .master("local") \
    .getOrCreate()

# Define connection
server = "localhost"
port = 3306
database = "ufodataset"
jdbc_url = f"jdbc:mysql://{server}:{port}/{database}?permitMysqlScheme"

user = "haunguyen"
password = "haunguyenpwd"
jdbc_driver = "org.mariadb.jdbc.Driver"

properties = {
    "user": user,
    "password": password,
    "driver": jdbc_driver
}

# Read the database from MariaDB
ufo_df = spark3.read.jdbc(jdbc_url, "(select * from mytable) tab", properties=properties)
spark3.conf.set("spark.sql.legacy.timeParserPolicy", "LEGACY")

# Extract the year from the 'datetime' column
ufo_df = ufo_df.withColumn('year', udf(lambda datetime_str: int(datetime_str.split()[0].split('/')[-1]), IntegerType())('datetime'))

# Filter to get only rows where the country is 'us'
ufo_df = ufo_df.filter(col('country') == 'us')

# calculate the sum of 'durationsec' and count cases by year and state
ufo_df = ufo_df.groupBy('year', upper('state').alias('state')) \
            .agg(sum('durationseconds').alias('duration_in_sec_UFO_cases'), \
                 count('*').alias('total_UFO_cases_by_state')) \
            .select('year', 'state', col('duration_in_sec_UFO_cases').cast(IntegerType()), 'total_UFO_cases_by_state')
ufo_df = ufo_df.orderBy('year', 'state', ascending=True)

print("Yearly UFO sightings by State:")
ufo_df.show()

24/03/06 21:00:36 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

Yearly UFO sightings by State:

+----+-----+-------------------------+------------------------+
|year|state|duration_in_sec_UFO_cases|total_UFO_cases_by_state|
+----+-----+-------------------------+------------------------+
|1910|   MO|                      480|                       4|
|1910|   TX|                      480|                       4|
|1920|   IN|                      240|                       4|
|1925|   IL|                      240|                       4|
|1929|   OR|                      240|                       4|
|1931|   CO|                      240|                       4|
|1931|   KS|                     7200|                       4|
|1934|   ND|                       20|                       4|
|1936|   AK|                      720|                       4|
|1937|   CA|                     2400|                       4|
|1937|   OR|                       40|                       4|
|1939|   AL|                     1200|                       4|
|1939|   IA|                     2400|                       4|
|1939|   SC|                       40|                       4|
|1941|   MI|                      120|                       4|
|1942|   GA|                      720|                       4|
|1942|   TN|                      480|                       4|
|1943|   KY|                     7200|                       4|
|1944|   CA|                      720|                       4|
|1944|   NM|                    14760|                       8|
+----+-----+-------------------------+------------------------+
only showing top 20 rows

In [4]:
# Group by 'year' and calculate the sum of 'duration_in_sec' for each year
yearly_ufo_duration = ufo_df.groupBy('year') \
                            .agg(sum('duration_in_sec_UFO_cases').alias('total_duration_in_sec_UFO_cases'))

# Group by 'year' and calculate the sum of 'total_UFO_cases_by_state' for each year
yearly_ufo_cases = ufo_df.groupBy('year') \
                        .agg(sum('total_UFO_cases_by_state').alias('total_UFO_cases_by_year'))

# Join the two DataFrames on 'year'
yearly_ufo_duration = yearly_ufo_duration.join(yearly_ufo_cases, 'year', 'inner')
yearly_ufo_duration = yearly_ufo_duration.orderBy('year')
yearly_ufo_duration = yearly_ufo_duration.withColumnRenamed('year', 'year_draft')

yearly_ufo_duration.show()

+----------+-------------------------------+-----------------------+
|year_draft|total_duration_in_sec_UFO_cases|total_UFO_cases_by_year|
+----------+-------------------------------+-----------------------+
|      1910|                            960|                      8|
|      1920|                            240|                      4|
|      1925|                            240|                      4|
|      1929|                            240|                      4|
|      1931|                           7440|                      8|
|      1934|                             20|                      4|
|      1936|                            720|                      4|
|      1937|                           2440|                      8|
|      1939|                           3640|                     12|
|      1941|                            120|                      4|
|      1942|                           1200|                      8|
|      1943|                           7200|                      4|
|      1944|                          15480|                     12|
|      1945|                        3142568|                     28|
|      1946|                           1740|                     32|
|      1947|                          76288|                    132|
|      1948|                           6892|                     28|
|      1949|                          28700|                     59|
|      1950|                          32150|                     84|
|      1951|                          71204|                     52|
+----------+-------------------------------+-----------------------+
only showing top 20 rows

In [5]:
# Join the first ufo dataset with total ufo dataset
ufo_df = ufo_df.alias("ufo").join(yearly_ufo_duration.alias("yearly_duration"), 
                        col("ufo.year") == col("yearly_duration.year_draft"), 
                        how="inner")
ufo_df = ufo_df.drop("year_draft")
ufo_df = ufo_df.orderBy('year', 'state', ascending=True)


ufo_df.show()

+----+-----+-------------------------+------------------------+-------------------------------+-----------------------+
|year|state|duration_in_sec_UFO_cases|total_UFO_cases_by_state|total_duration_in_sec_UFO_cases|total_UFO_cases_by_year|
+----+-----+-------------------------+------------------------+-------------------------------+-----------------------+
|1910|   MO|                      480|                       4|                            960|                      8|
|1910|   TX|                      480|                       4|                            960|                      8|
|1920|   IN|                      240|                       4|                            240|                      4|
|1925|   IL|                      240|                       4|                            240|                      4|
|1929|   OR|                      240|                       4|                            240|                      4|
|1931|   CO|                      240|                       4|                           7440|                      8|
|1931|   KS|                     7200|                       4|                           7440|                      8|
|1934|   ND|                       20|                       4|                             20|                      4|
|1936|   AK|                      720|                       4|                            720|                      4|
|1937|   CA|                     2400|                       4|                           2440|                      8|
|1937|   OR|                       40|                       4|                           2440|                      8|
|1939|   AL|                     1200|                       4|                           3640|                     12|
|1939|   IA|                     2400|                       4|                           3640|                     12|
|1939|   SC|                       40|                       4|                           3640|                     12|
|1941|   MI|                      120|                       4|                            120|                      4|
|1942|   GA|                      720|                       4|                           1200|                      8|
|1942|   TN|                      480|                       4|                           1200|                      8|
|1943|   KY|                     7200|                       4|                           7200|                      4|
|1944|   CA|                      720|                       4|                          15480|                     12|
|1944|   NM|                    14760|                       8|                          15480|                     12|
+----+-----+-------------------------+------------------------+-------------------------------+-----------------------+
only showing top 20 rows

### SNOWFLAKE

In [6]:
from pyspark.sql import SparkSession

# Create Spark session with Spark & SnowFlake Connector
spark4 = SparkSession.builder \
    .appName("Snowflake Query") \
    .config("spark.jars", "/usr/local/spark/jars/snowflake-jdbc-3.14.5.jar,/usr/local/spark/jars/spark-snowflake_2.13-2.14.0-spark_3.4.jar") \
    .getOrCreate()

# Set Snowflake connection
sfOptions = {
  "sfURL" : "https://tltmqjz-yk82271.snowflakecomputing.com",
  "sfAccount" : "YK82271",
  "sfUser" : "HOWARDNGUYEN29",
  "sfPassword" : "HowardNguyen29",
  "sfDatabase" : "GBCTRAINING3",
  "sfSchema" : "PUBLIC",
  "sfWarehouse" : "COMPUTE_WH",
}

# Query 2 databases, one is .json and one is .csv, then union those
query = """
    SELECT COALESCE(CRIME_JOIN.REPORT_YEAR, MENTAL_HEALTH.Year) AS Year,
       COALESCE(CRIME_JOIN.STATEABBR, MENTAL_HEALTH.LocationAbbr) AS STATEABBR,
       COALESCE(CRIME_JOIN.STATE, MENTAL_HEALTH.STATE) AS STATE,
       COALESCE(CRIME_JOIN.TOTAL_POPULATION, NULL) AS TOTAL_POPULATION,
       -- COALESCE(CRIME_JOIN.TOTAL_homicides, NULL) AS TOTAL_homicides,
       -- COALESCE(CRIME_JOIN.TOTAL_rapes, NULL) AS TOTAL_rapes,
       -- COALESCE(CRIME_JOIN.TOTAL_assaults, NULL) AS TOTAL_assaults,
       -- COALESCE(CRIME_JOIN.TOTAL_robberies, NULL) AS TOTAL_robberies,
       COALESCE(CRIME_JOIN.TOTAL_CRIMES, NULL) AS TOTAL_CRIMES,
       MENTAL_HEALTH.DATAVALUE AS Crude_Prevalence_of_Mental_health_Cases,
       ROUND(((MENTAL_HEALTH.DATAVALUE / 1000) * TOTAL_POPULATION) / 100, 0) AS Total_Mental_health_Cases_reported_by_BRFSS,        
       -- MENTAL_HEALTH.DataValueType

FROM (
    SELECT CRIME_STAT.REPORT_YEAR,
           CRIME_STAT.STATEABBR,
           CRIME_STAT.STATE,
           SUM(CRIME_STAT.POPULATION) AS TOTAL_POPULATION,
           SUM(CRIME_STAT.homicides) AS TOTAL_homicides,
           SUM(CRIME_STAT.rapes) AS TOTAL_rapes,
           SUM(CRIME_STAT.assaults) AS TOTAL_assaults,
           SUM(CRIME_STAT.robberies) AS TOTAL_robberies,
           SUM(CRIME_STAT.TOTAL_CRIMES) AS TOTAL_CRIMES
    FROM (
        SELECT CRIME.REPORT_YEAR,
               CRIME.StateAbbr,
               COALESCE(MENTAL_HEALTH.LocationDesc, CRIME.StateAbbr) AS STATE,
               CRIME.POPULATION, 
               CRIME.homicides AS homicides,
               CRIME.rapes AS rapes,
               CRIME.assaults AS assaults,
               CRIME.robberies AS robberies,
               CRIME.VIOLENT_CRIMES AS total_crimes,
               CRIME.homicides_percapita as homicides_percapita,
               CRIME.rapes_percapita as rapes_percapita,
               CRIME.assaults_percapita as assaults_percapita,
               CRIME.robberies_percapita as robberies_percapita,
               CRIME.CRIMES_PERCAPITA AS Crime_per_capita
        FROM (
            SELECT *,
                   SPLIT_PART(agency_jurisdiction, ', ', -1) AS StateAbbr
            FROM CRIME
        ) CRIME
        LEFT JOIN (
            SELECT DISTINCT
                   LocationAbbr,
                   LocationDesc
            FROM MENTAL_HEALTH
        ) MENTAL_HEALTH
        ON CRIME.StateAbbr = MENTAL_HEALTH.LocationAbbr
        WHERE State != 'United States'
    ) CRIME_STAT
    GROUP BY CRIME_STAT.REPORT_YEAR, CRIME_STAT.STATE, CRIME_STAT.STATEABBR
    ORDER BY CRIME_STAT.REPORT_YEAR, CRIME_STAT.STATEABBR
) CRIME_JOIN
LEFT JOIN (
    SELECT YearStart as Year,
           LocationAbbr,
           LocationDesc AS STATE,
           SUM(TRY_CAST(DataValue AS FLOAT)) AS DATAVALUE,
           DataValueType
    FROM MENTAL_HEALTH
    WHERE DataSource = 'BRFSS'
          AND Stratification1 = 'Overall'
          AND DataValueType =  'Crude Prevalence'
          AND LocationDesc != 'United States'
          AND TRY_CAST(DataValue AS FLOAT) IS NOT NULL
    GROUP BY Year, LocationAbbr, LocationDesc, DataValueType
    ORDER BY Year, LocationAbbr, DataValueType
) MENTAL_HEALTH
ON CRIME_JOIN.REPORT_YEAR = MENTAL_HEALTH.Year
   AND CRIME_JOIN.STATEABBR = MENTAL_HEALTH.LocationAbbr
ORDER BY Year, STATEABBR;


"""

# Load data from Snowflake using the defined query
df_snowflake = spark4.read.format("snowflake") \
    .options(**sfOptions) \
    .option("query", query) \
    .load()

df_snowflake.show()

24/03/06 21:00:45 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

+----+---------+--------------------+----------------+------------+---------------------------------------+-------------------------------------------+
|YEAR|STATEABBR|               STATE|TOTAL_POPULATION|TOTAL_CRIMES|CRUDE_PREVALENCE_OF_MENTAL_HEALTH_CASES|TOTAL_MENTAL_HEALTH_CASES_REPORTED_BY_BRFSS|
+----+---------+--------------------+----------------+------------+---------------------------------------+-------------------------------------------+
|1975|       AZ|             Arizona|         1121722|        6726|                                   null|                                       null|
|1975|       CA|          California|         6858823|       67951|                                   null|                                       null|
|1975|       CO|            Colorado|          624796|        5571|                                   null|                                       null|
|1975|       DC|District of Columbia|          716000|       12704|                                   null|                                       null|
|1975|       FL|             Florida|         1922889|       21778|                                   null|                                       null|
|1975|       GA|             Georgia|          490584|        8033|                                   null|                                       null|
|1975|       HI|              Hawaii|          705262|        1596|                                   null|                                       null|
|1975|       IL|            Illinois|         3150000|       37160|                                   null|                                       null|
|1975|       IN|             Indiana|          503411|        4655|                                   null|                                       null|
|1975|       KS|              Kansas|          259240|        1137|                                   null|                                       null|
|1975|       KY|            Kentucky|            null|        null|                                   null|                                       null|
|1975|       LA|           Louisiana|          571934|        5993|                                   null|                                       null|
|1975|       MA|       Massachusetts|          616120|       11386|                                   null|                                       null|
|1975|       MD|            Maryland|         2571798|       22459|                                   null|                                       null|
|1975|       MI|            Michigan|         1432444|       30387|                                   null|                                       null|
|1975|       MN|           Minnesota|          405378|        3326|                                   null|                                       null|
|1975|       MO|            Missouri|         1058094|       16635|                                   null|                                       null|
|1975|       NC|      North Carolina|          412043|        2658|                                   null|                                       null|
|1975|       NE|            Nebraska|          391389|        2540|                                   null|                                       null|
|1975|       NJ|          New Jersey|          372663|        7136|                                   null|                                       null|
+----+---------+--------------------+----------------+------------+---------------------------------------+-------------------------------------------+
only showing top 20 rows

In [7]:
df_snowflake.printSchema()

root
 |-- YEAR: decimal(38,0) (nullable = true)
 |-- STATEABBR: string (nullable = true)
 |-- STATE: string (nullable = true)
 |-- TOTAL_POPULATION: decimal(38,0) (nullable = true)
 |-- TOTAL_CRIMES: decimal(38,0) (nullable = true)
 |-- CRUDE_PREVALENCE_OF_MENTAL_HEALTH_CASES: double (nullable = true)
 |-- TOTAL_MENTAL_HEALTH_CASES_REPORTED_BY_BRFSS: double (nullable = true)

### SSMS

In [10]:
import pyspark
from pyspark.sql.session import SparkSession

# Create a SparkSession
spark = SparkSession.builder \
    .appName("FirstRun") \
    .config("spark.jars.packages", "com.microsoft.azure:spark-mssql-connector_2.12:1.2.0") \
    .config("spark.driver.extraClassPath", "/usr/local/spark/jars/mssql-jdbc-6.1.0.jre8.jar") \
    .getOrCreate()

# Define connection parameters
server_name = "howardserver.database.windows.net"
database_name = "myfirstdatabase"
table_name = "Income_Unemployment_df"
url = f"jdbc:sqlserver://{server_name};databaseName={database_name};"

# Load data from SQL Server
income_unemployment_df = spark.read \
    .format("com.microsoft.sqlserver.jdbc.spark") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .option("url", url) \
    .option("dbtable", table_name) \
    .option("user", "azureuser") \
    .option("Oi29", "password") \
    .load()
income_unemployment_df = income_unemployment_df.orderBy('Year', 'State_Abbr', ascending=True)


income_unemployment_df.show()

+----+-------------+----------+------+------------------------+--------------------------+-----------------+
|Year|        State|State_Abbr|Income|AVG_Number_of_Employment|AVG_Number_of_Unemployment|Unemployment_Rate|
+----+-------------+----------+------+------------------------+--------------------------+-----------------+
|1984|       Alaska|        AK| 72912|                    null|                      null|             null|
|1984|      Alabama|        AL| 39007|                    null|                      null|             null|
|1984|     Arkansas|        AR| 35320|                    null|                      null|             null|
|1984|      Arizona|        AZ| 48280|                    null|                      null|             null|
|1984|   California|        CA| 56983|                    null|                      null|             null|
|1984|     Colorado|        CO| 58141|                    null|                      null|             null|
|1984|  Connecticut|        CT| 67493|                    null|                      null|             null|
|1984|     Delaware|        DE| 58181|                    null|                      null|             null|
|1984|      Florida|        FL| 44584|                    null|                      null|             null|
|1984|      Georgia|        GA| 45033|                    null|                      null|             null|
|1984|       Hawaii|        HI| 65072|                    null|                      null|             null|
|1984|         Iowa|        IA| 44760|                    null|                      null|             null|
|1984|        Idaho|        ID| 47529|                    null|                      null|             null|
|1984|     Illinois|        IL| 53524|                    null|                      null|             null|
|1984|      Indiana|        IN| 51311|                    null|                      null|             null|
|1984|       Kansas|        KS| 55500|                    null|                      null|             null|
|1984|     Kentucky|        KY| 39841|                    null|                      null|             null|
|1984|    Louisiana|        LA| 42700|                    null|                      null|             null|
|1984|Massachusetts|        MA| 60750|                    null|                      null|             null|
|1984|     Maryland|        MD| 66945|                    null|                      null|             null|
+----+-------------+----------+------+------------------------+--------------------------+-----------------+
only showing top 20 rows

### MERGING

In [11]:
# Left join those dataset with ufo dataset (main target of this project)
joined_df = ufo_df.alias("ufo").join(
    df_snowflake.alias("snowflake"),
    (col("ufo.year") == col("snowflake.YEAR")) & (col("ufo.state") == col("snowflake.STATEABBR")),
    how='left'
).join(
    pollution_df.alias("pollution"),
    (col("ufo.year") == col("pollution.Year")) & (col("ufo.state") == col("pollution.stateabbr")),
    how='left'
).join(
    political_df.alias("political"),
    (col("ufo.year") == col("political.year")) & (col("ufo.state") == col("political.state")),
    how='left'
).join(
    income_unemployment_df.alias("ssms"),
    (col("ufo.year") == col("ssms.Year")) & (col("ufo.state") == col("ssms.State_Abbr")),
    how='left'
).select(
    col("ufo.year"),
    col("ufo.state"),
    col("ufo.total_UFO_cases_by_state"),
    col("ufo.total_UFO_cases_by_year"),
    col("ufo.duration_in_sec_UFO_cases"),
    col("ufo.total_duration_in_sec_UFO_cases"),
    col("snowflake.TOTAL_CRIMES"),
    col("snowflake.CRUDE_PREVALENCE_OF_MENTAL_HEALTH_CASES"),
    col("snowflake.TOTAL_MENTAL_HEALTH_CASES_REPORTED_BY_BRFSS"),
    col("snowflake.TOTAL_POPULATION"),
    col("pollution.Average_NO2_AQI"),
    col("pollution.Average_O3_AQI"),
    col("pollution.Average_SO2_AQI"),
    col("pollution.Average_CO_AQI"),
    col("political.not voted"),
    col("political.Democrat"),
    col("political.Republican"),
    col("political.Other Party"),
    col("political.total_votes"),
    col("ssms.Income"),
    col("ssms.AVG_Number_of_Employment"),
    col("ssms.AVG_Number_of_Unemployment"),
    col("ssms.Unemployment_Rate")
)
joined_df = joined_df.orderBy('year', 'state', ascending=False)

joined_df.show()

+----+-----+------------------------+-----------------------+-------------------------+-------------------------------+------------+---------------------------------------+-------------------------------------------+----------------+---------------+--------------+---------------+--------------+---------+--------+----------+-----------+-----------+------+------------------------+--------------------------+-----------------+
|year|state|total_UFO_cases_by_state|total_UFO_cases_by_year|duration_in_sec_UFO_cases|total_duration_in_sec_UFO_cases|TOTAL_CRIMES|CRUDE_PREVALENCE_OF_MENTAL_HEALTH_CASES|TOTAL_MENTAL_HEALTH_CASES_REPORTED_BY_BRFSS|TOTAL_POPULATION|Average_NO2_AQI|Average_O3_AQI|Average_SO2_AQI|Average_CO_AQI|not voted|Democrat|Republican|Other Party|total_votes|Income|AVG_Number_of_Employment|AVG_Number_of_Unemployment|Unemployment_Rate|
+----+-----+------------------------+-----------------------+-------------------------+-------------------------------+------------+---------------------------------------+-------------------------------------------+----------------+---------------+--------------+---------------+--------------+---------+--------+----------+-----------+-----------+------+------------------------+--------------------------+-----------------+
|2014|   WY|                      12|                   7856|                    24000|                        6146321|        null|                                   null|                                       null|            null|              8|            44|              0|             0|     null|    null|      null|       null|       null| 57721|                44215.75|                   1920.63|             4.16|
|2014|   WV|                      88|                   7856|                   151988|                        6146321|        null|                                   null|                                       null|            null|           null|          null|           null|          null|     null|    null|      null|       null|       null| 40994|                 59497.9|                   3900.02|             6.15|
|2014|   WI|                     116|                   7856|                   193716|                        6146321|        8914|                                   15.2|                                       91.0|          600374|           null|          null|           null|          null|     null|    null|      null|       null|       null| 60198|                176691.9|                   9802.66|             5.26|
|2014|   WA|                     368|                   7856|                   960288|                        6146321|        4005|                                   15.4|                                      102.0|          663410|             20|            36|              0|             2|     null|    null|      null|       null|       null| 61222|               253769.72|                  15921.53|              5.9|
|2014|   VT|                      24|                   7856|                    18488|                        6146321|        null|                                   null|                                       null|            null|           null|          null|           null|          null|     null|    null|      null|       null|       null| 62922|                    null|                      null|             null|
|2014|   VA|                     204|                   7856|                   134208|                        6146321|        1636|                                   11.7|                                      182.0|         1552802|             11|            38|              2|             3|     null|    null|      null|       null|       null| 68567|               172170.76|                    9712.3|             5.34|
|2014|   UT|                     116|                   7856|                   143096|                        6146321|        1452|                                   14.7|                                       28.0|          192368|             26|            41|              1|             5|     null|    null|      null|       null|       null| 65694|                295516.0|                  11549.69|             3.76|
|2014|   TX|                     264|                   7856|                   235092|                        6146321|       50767|                                   10.5|                                      808.0|         7692874|             19|            35|              1|             3|     null|    null|      null|       null|       null| 55839|               460214.11|                  24566.52|             5.07|
|2014|   TN|                     164|                   7856|                   150120|                        6146321|       18709|                                   19.1|                                      249.0|         1302611|           null|          null|           null|          null|     null|    null|      null|       null|       null| 45310|               247933.76|                  14915.93|             5.67|
|2014|   SD|                      12|                   7856|                     5280|                        6146321|        null|                                   null|                                       null|            null|             11|            37|              1|             2|     null|    null|      null|       null|       null| 54987|               103413.46|                   3287.08|             3.08|
|2014|   SC|                     188|                   7856|                   123188|                        6146321|        null|                                   null|                                       null|            null|           null|          null|           null|          null|     null|    null|      null|       null|       null| 46567|               203553.48|                  12762.95|              5.9|
|2014|   RI|                      12|                   7856|                     3840|                        6146321|        null|                                   null|                                       null|            null|             14|            36|              1|             3|     null|    null|      null|       null|       null| 60771|                    null|                      null|             null|
|2014|   PA|                     260|                   7856|                   168396|                        6146321|       18380|                                   14.4|                                      269.0|         1866675|             18|            35|              7|             3|     null|    null|      null|       null|       null| 57185|               189631.53|                   11366.7|             5.66|
|2014|   OR|                     228|                   7856|                   177160|                        6146321|        2911|                                   17.0|                                      105.0|          615672|             15|            28|              1|             3|     null|    null|      null|       null|       null| 61022|                87700.54|                    7051.6|             7.44|
|2014|   OK|                      64|                   7856|                   106812|                        6146321|        7999|                                   15.5|                                      158.0|         1017531|             14|            39|              0|             2|     null|    null|      null|       null|       null| 48920|               373307.53|                  16457.39|             4.22|
|2014|   OH|                     232|                   7856|                   115472|                        6146321|       12564|                                   17.9|                                      272.0|         1517137|             22|            32|             13|             3|     null|    null|      null|       null|       null| 51454|               364149.94|                  21784.26|             5.64|
|2014|   NY|                     216|                   7856|                    67432|                        6146321|       56642|                                   14.7|                                     1637.0|        11134985|             28|            32|              3|             4|     null|    null|      null|       null|       null| 56290|               202754.88|                  12696.57|             5.89|
|2014|   NV|                     120|                   7856|                   133946|                        6146321|       12876|                                   12.4|                                      190.0|         1530899|             26|            44|              0|             4|     null|    null|      null|       null|       null| 51694|               391528.19|                  33576.44|              7.9|
|2014|   NM|                     156|                   7856|                    67404|                        6146321|        4934|                                   13.8|                                       77.0|          558874|             23|            41|              1|             3|     null|    null|      null|       null|       null| 48388|               148239.31|                  10425.27|             6.57|
|2014|   NJ|                     148|                   7856|                    61096|                        6146321|        3009|                                   13.3|                                       37.0|          279110|             29|            32|              2|             4|     null|    null|      null|       null|       null| 67622|               101451.52|                   9514.17|             8.57|
+----+-----+------------------------+-----------------------+-------------------------+-------------------------------+------------+---------------------------------------+-------------------------------------------+----------------+---------------+--------------+---------------+--------------+---------+--------+----------+-----------+-----------+------+------------------------+--------------------------+-----------------+
only showing top 20 rows

In [12]:
joined_df.printSchema()

root
 |-- year: integer (nullable = true)
 |-- state: string (nullable = true)
 |-- total_UFO_cases_by_state: long (nullable = false)
 |-- total_UFO_cases_by_year: long (nullable = true)
 |-- duration_in_sec_UFO_cases: integer (nullable = true)
 |-- total_duration_in_sec_UFO_cases: long (nullable = true)
 |-- TOTAL_CRIMES: decimal(38,0) (nullable = true)
 |-- CRUDE_PREVALENCE_OF_MENTAL_HEALTH_CASES: double (nullable = true)
 |-- TOTAL_MENTAL_HEALTH_CASES_REPORTED_BY_BRFSS: double (nullable = true)
 |-- TOTAL_POPULATION: decimal(38,0) (nullable = true)
 |-- Average_NO2_AQI: integer (nullable = true)
 |-- Average_O3_AQI: integer (nullable = true)
 |-- Average_SO2_AQI: integer (nullable = true)
 |-- Average_CO_AQI: integer (nullable = true)
 |-- not voted: long (nullable = true)
 |-- Democrat: long (nullable = true)
 |-- Republican: long (nullable = true)
 |-- Other Party: long (nullable = true)
 |-- total_votes: long (nullable = true)
 |-- Income: integer (nullable = true)
 |-- AVG_Number_of_Employment: double (nullable = true)
 |-- AVG_Number_of_Unemployment: double (nullable = true)
 |-- Unemployment_Rate: double (nullable = true)

### ML Decision Tree

In [13]:
# Select features which can affect to ufo cases and duration of seeing ufo
joined_df_2 = joined_df.select(
    col("year"),
    col("state"),
    col("duration_in_sec_UFO_cases"),
    col("total_duration_in_sec_UFO_cases"),
    col("total_UFO_cases_by_state"),
    col("TOTAL_CRIMES"),
    #col("CRUDE_PREVALENCE_OF_MENTAL_HEALTH_CASES"),
    #col("TOTAL_MENTAL_HEALTH_CASES_REPORTED_BY_BRFSS"),
    col("Income"),
    col("AVG_Number_of_Unemployment"),
    col("AVG_Number_of_Employment"),
    col("Unemployment_Rate")
)
joined_df_2 = joined_df_2.orderBy('year', 'state', ascending=True)
joined_df_2 = joined_df_2.dropna()

joined_df_2.show()

+----+-----+-------------------------+-------------------------------+------------------------+------------+------+--------------------------+------------------------+-----------------+
|year|state|duration_in_sec_UFO_cases|total_duration_in_sec_UFO_cases|total_UFO_cases_by_state|TOTAL_CRIMES|Income|AVG_Number_of_Unemployment|AVG_Number_of_Employment|Unemployment_Rate|
+----+-----+-------------------------+-------------------------------+------------------------+------------+------+--------------------------+------------------------+-----------------+
|1990|   AZ|                    14160|                         958172|                      20|       16069| 53309|                  12136.64|               230027.57|             5.01|
|1990|   CA|                    99920|                         958172|                     136|      152971| 60726|                  32644.26|               537452.08|             5.73|
|1990|   CO|                     1760|                         958172|                      16|        7396| 56062|                  11262.71|                207264.4|             5.15|
|1990|   FL|                    12180|                         958172|                      24|       60814| 48678|                  17191.79|               265596.53|             6.08|
|1990|   GA|                     3360|                         958172|                      20|       16097| 50275|                  10118.44|               186956.84|             5.13|
|1990|   HI|                    14400|                         958172|                       4|        2412| 70998|                   5708.17|               227490.04|             2.45|
|1990|   IL|                    50920|                         958172|                      32|       82728| 59362|                   4675.48|                90479.22|             4.91|
|1990|   IN|                    27600|                         958172|                      28|        6224| 49121|                   6164.64|               137256.81|              4.3|
|1990|   KS|                     2400|                         958172|                       4|        2189| 54573|                   5093.08|               111656.58|             4.36|
|1990|   LA|                     4808|                         958172|                       8|       11227| 40870|                  10432.37|               165062.55|             5.94|
|1990|   MD|                    57120|                         958172|                      24|       34514| 70881|                  31439.04|               611430.25|             4.89|
|1990|   MI|                    23480|                         958172|                      28|       27747| 54610|                  20042.63|                253084.2|             7.34|
|1990|   MN|                     2880|                         958172|                       8|        4695| 57397|                   3194.42|                69916.86|             4.37|
|1990|   MO|                     2640|                         958172|                      12|       24769| 49858|                    4392.6|                 83874.9|             4.98|
|1990|   NC|                    76480|                         958172|                      20|       10298| 48028|                   5191.38|               132846.65|             3.76|
|1990|   NE|                     1556|                         958172|                       8|        3140| 50131|                   1819.54|                84132.88|             2.12|
|1990|   NJ|                     3600|                         958172|                      16|       10684| 70657|                   5871.27|                94839.92|             5.83|
|1990|   NM|                   230420|                         958172|                       8|        5121| 45675|                   6711.35|                108471.1|             5.83|
|1990|   NV|                    14460|                         958172|                       8|        4510| 58415|                   9112.81|               187248.64|             4.64|
|1990|   NY|                    31320|                         958172|                      28|      184786| 57627|                   9929.94|               212702.64|             4.46|
+----+-----+-------------------------+-------------------------------+------------------------+------------+------+--------------------------+------------------------+-----------------+
only showing top 20 rows

In [14]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.regression import DecisionTreeRegressor
from pyspark.ml.evaluation import RegressionEvaluator

# Assemble features into a feature vector
assembler = VectorAssembler(inputCols=['TOTAL_CRIMES', 
                                       #'CRUDE_PREVALENCE_OF_MENTAL_HEALTH_CASES',
                                       #'TOTAL_MENTAL_HEALTH_CASES_REPORTED_BY_BRFSS',
                                       'Income',
                                       'AVG_Number_of_Unemployment',
                                       'AVG_Number_of_Employment',
                                       'Unemployment_Rate'],
                            outputCol='features')
data = assembler.transform(joined_df_2)

# 2014 will be the year to predict the ufo cases and duration of seeing ufo
data_2014 = data.filter(col('year') == 2014)
data_rest = data.filter(col('year') != 2014)

# Define and train the model for the first & second target variable
dt_model_duration = DecisionTreeRegressor(featuresCol="features", labelCol="duration_in_sec_UFO_cases")
dt_model_duration = dt_model_duration.fit(data_rest)

dt_model_total = DecisionTreeRegressor(featuresCol="features", labelCol="total_UFO_cases_by_state")
dt_model_total = dt_model_total.fit(data_rest)

# Make predictions on the testing
predictions_duration = dt_model_duration.transform(data_2014)
predictions_total_cases = dt_model_total.transform(data_2014)

# Evaluate the model's performance
evaluator = RegressionEvaluator(labelCol="duration_in_sec_UFO_cases", predictionCol="prediction", metricName="rmse")
rmse = evaluator.evaluate(predictions_duration)

evaluator2 = RegressionEvaluator(labelCol="total_UFO_cases_by_state", predictionCol="prediction", metricName="rmse")
rmse2 = evaluator2.evaluate(predictions_total_cases)


print("Root Mean Squared Error (RMSE) on test data of the duration of UFO sightings in seconds:", rmse)
print("Root Mean Squared Error (RMSE) on test data of total UFO cases:", rmse2)

Root Mean Squared Error (RMSE) on test data of the duration of UFO sightings in seconds: 27547322.24197251
Root Mean Squared Error (RMSE) on test data of total UFO cases: 323.0161182828035

In [15]:
# Selecting the required columns and renaming them

selected_data = predictions_duration.alias("duration").join(
    predictions_total_cases.alias("total_cases"),
    (col("duration.year") == col("total_cases.year")) & (col("duration.state") == col("total_cases.state")),
    how='inner'
).select("duration.year", "duration.state",
         col("total_cases.total_UFO_cases_by_state"),
         col("total_cases.prediction").cast("int").alias("predicted_total_UFO_cases_by_state"),
         col("duration.duration_in_sec_UFO_cases"),
         col("duration.prediction").cast("int").alias("predicted_duration_in_sec_UFO_cases"))
ML_UFO_cases_df = selected_data.orderBy('year', 'state', ascending=True)

print("Predict the total UFO cases and the duration of UFO sightings in seconds based on total crime cases, income of citizens, and unemployment rate in states:")
ML_UFO_cases_df.show()

Predict the total UFO cases and the duration of UFO sightings in seconds based on total crime cases, income of citizens, and unemployment rate in states:

+----+-----+------------------------+----------------------------------+-------------------------+-----------------------------------+
|year|state|total_UFO_cases_by_state|predicted_total_UFO_cases_by_state|duration_in_sec_UFO_cases|predicted_duration_in_sec_UFO_cases|
+----+-----+------------------------+----------------------------------+-------------------------+-----------------------------------+
|2014|   AZ|                     392|                               517|                   288644|                             474152|
|2014|   CA|                    1060|                              2319|                   632200|                            1538484|
|2014|   CO|                     156|                               247|                   130892|                             789940|
|2014|   FL|                     892|                              1664|                   614852|                             474152|
|2014|   GA|                     244|                               125|                   191328|                          106829731|
|2014|   HI|                      64|                                83|                    59520|                             982429|
|2014|   IL|                     104|                               247|                    40000|                             192223|
|2014|   IN|                     104|                               125|                    66228|                             334278|
|2014|   KS|                      44|                               125|                    56504|                             192223|
|2014|   KY|                     100|                               125|                    74952|                             102641|
|2014|   LA|                      88|                               125|                    38788|                             334278|
|2014|   MD|                     124|                               273|                    38816|                             474152|
|2014|   MI|                     120|                               420|                    32620|                             320050|
|2014|   MN|                      88|                               478|                    31849|                             192223|
|2014|   MO|                     112|                               247|                   108692|                             192223|
|2014|   NC|                     260|                               125|                    91124|                             334278|
|2014|   NJ|                     148|                               213|                    61096|                             192223|
|2014|   NM|                     156|                               125|                    67404|                             334278|
|2014|   NV|                     120|                               517|                   133946|                             474152|
|2014|   NY|                     216|                               125|                    67432|                             334278|
+----+-----+------------------------+----------------------------------+-------------------------+-----------------------------------+
only showing top 20 rows

In [23]:
# Change data types of columns
joined_df = joined_df.withColumn("year", joined_df["year"].cast("string"))
joined_df = joined_df.withColumn("state", joined_df["state"].cast("string"))
joined_df = joined_df.withColumn("TOTAL_CRIMES", joined_df["TOTAL_CRIMES"].cast("integer"))
joined_df = joined_df.withColumn("TOTAL_POPULATION", joined_df["TOTAL_POPULATION"].cast("integer"))


joined_df = joined_df.alias("joined").join(
    ML_UFO_cases_df.alias("ML"),
    (col("joined.year") == col("ML.year")) & (col("joined.state") == col("ML.state")),
    how='left'
).select(
    col("joined.year"),
    col("joined.state"),
    col("joined.total_UFO_cases_by_state"),
    col("ML.predicted_total_UFO_cases_by_state"),
    col("joined.total_UFO_cases_by_year"),
    col("joined.duration_in_sec_UFO_cases"),
    col("ML.predicted_duration_in_sec_UFO_cases"),
    col("joined.total_duration_in_sec_UFO_cases"),
    col("joined.TOTAL_CRIMES"),
    col("joined.CRUDE_PREVALENCE_OF_MENTAL_HEALTH_CASES"),
    col("joined.TOTAL_MENTAL_HEALTH_CASES_REPORTED_BY_BRFSS"),
    col("joined.TOTAL_POPULATION"),
    col("joined.Average_NO2_AQI"),
    col("joined.Average_O3_AQI"),
    col("joined.Average_SO2_AQI"),
    col("joined.Average_CO_AQI"),
    col("joined.Income"),
    col("joined.not voted"),
    col("joined.Democrat"),
    col("joined.Republican"),
    col("joined.Other Party"),
    col("joined.total_votes"),
    col("joined.AVG_Number_of_Employment"),
    col("joined.AVG_Number_of_Unemployment"),
    col("joined.Unemployment_Rate")
)
joined_df = joined_df.orderBy('year', 'state', ascending=True)


joined_df.show()

+----+-----+------------------------+----------------------------------+-----------------------+-------------------------+-----------------------------------+-------------------------------+------------+---------------------------------------+-------------------------------------------+----------------+---------------+--------------+---------------+--------------+------+---------+--------+----------+-----------+-----------+------------------------+--------------------------+-----------------+
|year|state|total_UFO_cases_by_state|predicted_total_UFO_cases_by_state|total_UFO_cases_by_year|duration_in_sec_UFO_cases|predicted_duration_in_sec_UFO_cases|total_duration_in_sec_UFO_cases|TOTAL_CRIMES|CRUDE_PREVALENCE_OF_MENTAL_HEALTH_CASES|TOTAL_MENTAL_HEALTH_CASES_REPORTED_BY_BRFSS|TOTAL_POPULATION|Average_NO2_AQI|Average_O3_AQI|Average_SO2_AQI|Average_CO_AQI|Income|not voted|Democrat|Republican|Other Party|total_votes|AVG_Number_of_Employment|AVG_Number_of_Unemployment|Unemployment_Rate|
+----+-----+------------------------+----------------------------------+-----------------------+-------------------------+-----------------------------------+-------------------------------+------------+---------------------------------------+-------------------------------------------+----------------+---------------+--------------+---------------+--------------+------+---------+--------+----------+-----------+-----------+------------------------+--------------------------+-----------------+
|1910|   MO|                       4|                              null|                      8|                      480|                               null|                            960|        null|                                   null|                                       null|            null|           null|          null|           null|          null|  null|     null|    null|      null|       null|       null|                    null|                      null|             null|
|1910|   TX|                       4|                              null|                      8|                      480|                               null|                            960|        null|                                   null|                                       null|            null|           null|          null|           null|          null|  null|     null|    null|      null|       null|       null|                    null|                      null|             null|
|1920|   IN|                       4|                              null|                      4|                      240|                               null|                            240|        null|                                   null|                                       null|            null|           null|          null|           null|          null|  null|     null|    null|      null|       null|       null|                    null|                      null|             null|
|1925|   IL|                       4|                              null|                      4|                      240|                               null|                            240|        null|                                   null|                                       null|            null|           null|          null|           null|          null|  null|     null|    null|      null|       null|       null|                    null|                      null|             null|
|1929|   OR|                       4|                              null|                      4|                      240|                               null|                            240|        null|                                   null|                                       null|            null|           null|          null|           null|          null|  null|     null|    null|      null|       null|       null|                    null|                      null|             null|
|1931|   CO|                       4|                              null|                      8|                      240|                               null|                           7440|        null|                                   null|                                       null|            null|           null|          null|           null|          null|  null|     null|    null|      null|       null|       null|                    null|                      null|             null|
|1931|   KS|                       4|                              null|                      8|                     7200|                               null|                           7440|        null|                                   null|                                       null|            null|           null|          null|           null|          null|  null|     null|    null|      null|       null|       null|                    null|                      null|             null|
|1934|   ND|                       4|                              null|                      4|                       20|                               null|                             20|        null|                                   null|                                       null|            null|           null|          null|           null|          null|  null|     null|    null|      null|       null|       null|                    null|                      null|             null|
|1936|   AK|                       4|                              null|                      4|                      720|                               null|                            720|        null|                                   null|                                       null|            null|           null|          null|           null|          null|  null|     null|    null|      null|       null|       null|                    null|                      null|             null|
|1937|   CA|                       4|                              null|                      8|                     2400|                               null|                           2440|        null|                                   null|                                       null|            null|           null|          null|           null|          null|  null|     null|    null|      null|       null|       null|                    null|                      null|             null|
|1937|   OR|                       4|                              null|                      8|                       40|                               null|                           2440|        null|                                   null|                                       null|            null|           null|          null|           null|          null|  null|     null|    null|      null|       null|       null|                    null|                      null|             null|
|1939|   AL|                       4|                              null|                     12|                     1200|                               null|                           3640|        null|                                   null|                                       null|            null|           null|          null|           null|          null|  null|     null|    null|      null|       null|       null|                    null|                      null|             null|
|1939|   IA|                       4|                              null|                     12|                     2400|                               null|                           3640|        null|                                   null|                                       null|            null|           null|          null|           null|          null|  null|     null|    null|      null|       null|       null|                    null|                      null|             null|
|1939|   SC|                       4|                              null|                     12|                       40|                               null|                           3640|        null|                                   null|                                       null|            null|           null|          null|           null|          null|  null|     null|    null|      null|       null|       null|                    null|                      null|             null|
|1941|   MI|                       4|                              null|                      4|                      120|                               null|                            120|        null|                                   null|                                       null|            null|           null|          null|           null|          null|  null|     null|    null|      null|       null|       null|                    null|                      null|             null|
|1942|   GA|                       4|                              null|                      8|                      720|                               null|                           1200|        null|                                   null|                                       null|            null|           null|          null|           null|          null|  null|     null|    null|      null|       null|       null|                    null|                      null|             null|
|1942|   TN|                       4|                              null|                      8|                      480|                               null|                           1200|        null|                                   null|                                       null|            null|           null|          null|           null|          null|  null|     null|    null|      null|       null|       null|                    null|                      null|             null|
|1943|   KY|                       4|                              null|                      4|                     7200|                               null|                           7200|        null|                                   null|                                       null|            null|           null|          null|           null|          null|  null|     null|    null|      null|       null|       null|                    null|                      null|             null|
|1944|   CA|                       4|                              null|                     12|                      720|                               null|                          15480|        null|                                   null|                                       null|            null|           null|          null|           null|          null|  null|     null|    null|      null|       null|       null|                    null|                      null|             null|
|1944|   NM|                       8|                              null|                     12|                    14760|                               null|                          15480|        null|                                   null|                                       null|            null|           null|          null|           null|          null|  null|     null|    null|      null|       null|       null|                    null|                      null|             null|
+----+-----+------------------------+----------------------------------+-----------------------+-------------------------+-----------------------------------+-------------------------------+------------+---------------------------------------+-------------------------------------------+----------------+---------------+--------------+---------------+--------------+------+---------+--------+----------+-----------+-----------+------------------------+--------------------------+-----------------+
only showing top 20 rows

24/03/06 22:01:27 WARN DAGScheduler: Broadcasting large task binary with size 1280.2 KiB

In [24]:
joined_df.printSchema()

root
 |-- year: string (nullable = true)
 |-- state: string (nullable = true)
 |-- total_UFO_cases_by_state: long (nullable = false)
 |-- predicted_total_UFO_cases_by_state: integer (nullable = true)
 |-- total_UFO_cases_by_year: long (nullable = true)
 |-- duration_in_sec_UFO_cases: integer (nullable = true)
 |-- predicted_duration_in_sec_UFO_cases: integer (nullable = true)
 |-- total_duration_in_sec_UFO_cases: long (nullable = true)
 |-- TOTAL_CRIMES: integer (nullable = true)
 |-- CRUDE_PREVALENCE_OF_MENTAL_HEALTH_CASES: double (nullable = true)
 |-- TOTAL_MENTAL_HEALTH_CASES_REPORTED_BY_BRFSS: double (nullable = true)
 |-- TOTAL_POPULATION: integer (nullable = true)
 |-- Average_NO2_AQI: integer (nullable = true)
 |-- Average_O3_AQI: integer (nullable = true)
 |-- Average_SO2_AQI: integer (nullable = true)
 |-- Average_CO_AQI: integer (nullable = true)
 |-- Income: integer (nullable = true)
 |-- not voted: long (nullable = true)
 |-- Democrat: long (nullable = true)
 |-- Republican: long (nullable = true)
 |-- Other Party: long (nullable = true)
 |-- total_votes: long (nullable = true)
 |-- AVG_Number_of_Employment: double (nullable = true)
 |-- AVG_Number_of_Unemployment: double (nullable = true)
 |-- Unemployment_Rate: double (nullable = true)

In [28]:
!pip install sqlalchemy
!pip install pyodbc

Defaulting to user installation because normal site-packages is not writeable
Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.28-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.6 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in ./.local/lib/python3.10/site-packages (from sqlalchemy) (4.9.0)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Downloading greenlet-3.0.3-cp310-cp310-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (3.8 kB)
Downloading SQLAlchemy-2.0.28-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.1/3.1 MB 38.1 MB/s eta 0:00:0000:0100:01
Downloading greenlet-3.0.3-cp310-cp310-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (616 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 616.0/616.0 kB 27.9 MB/s eta 0:00:00
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.0.3 sqlalchemy-2.0.28
Defaulting to user installation because normal site-packages is not writeable
Collecting pyodbc
  Downloading pyodbc-5.1.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (2.7 kB)
Downloading pyodbc-5.1.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (334 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 334.7/334.7 kB 6.5 MB/s eta 0:00:00a 0:00:01
Installing collected packages: pyodbc
Successfully installed pyodbc-5.1.0

### Delivering output to SSMS

In [25]:
import pandas as pd
import sqlalchemy

# Collect data from Spark DF to the driver node
joined_df_collected = joined_df.collect()

# Convert collected data to Pandas DF
pandas_df = pd.DataFrame(joined_df_collected, columns=joined_df.columns)

# Define database connection string using ODBC
connection_string = 'mssql+pyodbc://azureuser:Oi2904@howardserver.database.windows.net/myfirstdatabase?driver=ODBC+Driver+18+for+SQL+Server'

# Create SQLAlchemy engine
engine = sqlalchemy.create_engine(connection_string)

# Connect to the database
connection = engine.connect()

# Define the table name
table_name = 'UFO_integration_df'

# Create a table in the database based on the DF schema
pandas_df.to_sql(table_name, connection, if_exists='replace', index=False)

connection.close()

24/03/06 22:02:15 WARN DAGScheduler: Broadcasting large task binary with size 1247.4 KiB